@font-face {
    font-family: 'KOTRA_GOTHIC';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin';
    color: #333;
    font-size: 16px;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #F5DF4E;
    color: #fff;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    background: #F5DF4E;
}

.container {
    width: 100%;
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
}

/*header*/

#header {
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #F5DF4E;
}

.logo {
    padding-top: 15px;
}

.logo a {

    font-size: 1.5rem;
}

input[id="menuicon"] {
    display: none;

}

input[id="menuicon"]+label {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
    left: 97%;
    top: -25px;
    overflow: hidden;
}

input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #fff;
    z-index: 9999;
    transition: all .35s;
  


}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.sidebar {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    left: -100%;
    z-index: 999;
    transition: all .35s;

}
.side_inner {
    text-align: center;
    padding-top: 200px;
}
input[id="menuicon"]:checked+label+div {
    left: 0;
}
.side_inner ul li {
    margin-bottom: 20px;
}
.side_inner ul li:hover {
    color: #F5DF4E;
}
.side_inner a{
    color: #fff;
 
}
.side_inner ul li a:hover {
    color: #F5DF4E;
}

/*home*/
#home {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #F5DF4E;
    padding-top: 70px;
}


.text {
    font-size: 4rem;
    display: inline;
    vertical-align: middle;
    border-right: .05em solid black;
    animation: cursor 0.2s ease infinite;
}

.profile_img {
    width: 100%;
    display: flex;
    justify-content: end;

}

.profile_img img {

    border: 10px solid #333;
    width: 400px;
    border-radius: 50%;
    display: block;


}

.home_contact {
    background-color: #F5DF4E;
    padding-bottom: 25px;
}

.flex_box {
    display: flex;




}

.title {
    margin: 100px 0;
    width: 100%;

}

.title h1 {
    font-size: 4rem;


}

.contact_btn {

    margin-top: 100px;
    text-align: center;
    mb100
}

/*main*/
#about_me {
    padding: 100px 0;
}

.center_text {

    text-align: center;
}

.title_box {
    margin-top: 100px;
    display: inline-block;
    padding: 8px 50px;
    background-color: #F5DF4E;


}

.text_title {

    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'KOTRA_GOTHIC';
}

.main_txt {

    display: flex;


}

.txt_web {
    margin-bottom: 150px;
    font-size: 0.8rem;
    margin-top: 130px;
    margin-right: 350px;
    line-height: 30px;
    font-family: 'KOTRA_GOTHIC';
}

.right_text p {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border: 1px solid #F5DF4E;
    background-color: #F5DF4E;
    border-radius: 50%;
    text-indent: -9999px;


}

.description ul li {
    font-family: 'KOTRA_GOTHIC';
    font-size: 0.8rem;
}

.description ul {
    font-family: 'KOTRA_GOTHIC';
    display: flex;
    justify-content: space-between;
}

.flex_box ul {
    width: 100%;
    text-align: center;

}

.flex_box ul li {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 40px;
    line-height: 25px;
    font-family: 'KOTRA_GOTHIC';
}

.flex_box ul li strong {
    width: 100%;
    font-family: 'KOTRA_GOTHIC';

    text-align: center;

}

    {}

i {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #F5DF4E;
    margin-top: 100px;
}

/*skils*/
#skill {
    padding-bottom: 100px;
}

#skill .flex_box {
    display: flex;
    padding-bottom: 150px;
    justify-content: center;

}

#skill .flex_box ul li {
    margin-top: 10px;
}

.academy {
    width: 40%;
    margin-top: 100px;



}

.license {
    margin-top: 100px;
}

.academy ul {
    margin-top: 50px;
    border-left: 1px solid #F5DF4E;
}

.academy ul li {
    padding-bottom: 5px;
}

.academy ul li:nth-child(1) {

    border-bottom: 1px solid #ddd;
}

.academy ul li:nth-child(2) {

    border-bottom: 1px solid #ddd;
}

.license {
    width: 40%;

}

.license ul {
    margin-top: 50px;
    border-left: 1px solid #F5DF4E;
}

.license_btn {
    margin-top: 15px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #F5DF4E;
    cursor: pointer;

}

.license_btn a {
    font-size: 0.8rem;
}

.progerss-box {
    display: flex;
}




.skillbox {

    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skillbox p {
    color: #333;
    text-transform: uppercase;
    margin: 0 0 10px;

    font-weight: bold;
    letter-spacing: 1px;
}

.skillbox p:nth-child(2) {
    float: right;
    position: absolute;
    top: 0;
    left: 80%;
}

.skill {
    background: #ddd;
    padding: 2px 0;
    margin-right: 10px;
    border-radius: 5px;
}

.skill_level {
    background: #F5DF4E;
    width: 100%;
    height: 8px;
}

/*project*/
#project {
    padding-bottom: 300px;
}

#project .title_box {
    margin-bottom: 80px;
}

.work__categories {
    margin: 40px;
    text-align: center;
}

.category__btn.active,
.category__btn:hover .category__Count {
    opacity: 1;
    top: 0;
}

.category__btn {
    background: #F5DF4E;
    padding: 10px 48px;
    border-radius: 5px;
    font-size: 1rem;
}

.category__btn:hover {
    color: #fff;
    transition: all 0.5s;
}

.category__Count {
    display: inline-block;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
    top: -25px;
    left: 5px;
    opacity: 0;
    transition: all 0.5s;


}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    transition: all ease-in .5s;

}

.project {
    position: relative;
    width: 280px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.project.invisible {
    display: none;
}

.project img {
    max-width: 100%;
    max-height: 100%;




}

.project__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: #000;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all ease-in 0.2s;

}

.project:hover .project__description {
    opacity: 0.8;

}

.project__description h3 {
    color: #fff;
    text-align: center;

}

.project__description h3:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-top: 8px;
    margin-left: -23px;
    display: block;
    width: 50px;
    height: 2px;
    background-color: #F5DF4E;
}

/*footer*/
#contact {
    background: #F5DF4E;
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex_inner {
    width: 100%;

    display: flex;
    justify-content: space-around;

}

.flex_left {
    width: 50%;
}

.title_name {
    font-size: 2rem;
    padding-bottom: 50px;
}

.flex_left p {
    color: #fff;
    padding: 10px;
}

.text_title {

    margin-bottom: 100px;
}

.flex_right {
    width: 50%;
}

.copyright {
    text-align: center;
    background: #333;
    padding: 30px 0;
}

.copyright p {
    font-size: 0.8rem;
    color: #fff;
}

.name {
    border: 2px solid #fff;
    padding: 10px 0;
    margin-bottom: 20px;
}

.e-mail {
    border: 2px solid #fff;
    padding: 10px 0;
    margin-bottom: 20px;
}

.contents {
    border: 2px solid #fff;
    padding: 50px 0px;
    margin-bottom: 20px;
}

.send {
    padding: 10px 20px;
    color: #fff;
    background: #333;

}

/*반응형*/
@media screen and (max-width:768px) {
    * {
        font-size: 14px;
    }

    input[id="menuicon"]+label {
        width: 22px;
        height: 20px;
        left: 93%;
    }

    .flex_box {

        flex-direction: column;
        justify-content: center;
    }

    #home {
        padding-top: 0;
    }

    .container h1 {

        margin-bottom: 20px;
    }

    .title {
    
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .text {
        width: 100%;
        font-size: 1rem;

    }

    .text {
        font-size: 2.5rem;
        margin-left:20%;
    }

    .profile_img {
        margin-top: 30px;
        flex-direction: column;
        text-align: center;
    }

    .profile_img img {
        margin: 0 auto;
        width: 282px;

    }

    .title_box {
        margin-top: 50px;

    }

    .text_title {
        font-size: 0.9rem;
        margin-bottom: 50px;
    }

    .main_txt {
        flex-direction: column;
        justify-content: center;
    }

    .txt_web {
        margin-top: 0;
        text-align: center;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .right_text p {
        margin: 0;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 15px;

    }

    .description ul {
        flex-direction: column;
        text-align: center;
    }

    .description ul li {
        margin-bottom: 10px;
    }

    #about_me {
        padding: 50px;
    }

    i {

        margin: 10px 0;

    }

    .flex_box ul {
        width: 100%;
        text-align: center;

    }

    .flex_box ul li {
        margin-top: 10px;
        line-height: 16px;
    }

    #skill .flex_box {

        flex-direction: column;
        text-align: center;
        margin: 0 auto;

    }

    .academy {
        width: 100%;
    }

    .academy ul {
        width: 100%;

    }

    .academy ul li:nth-child(1) {
        width: 80%;
        margin: 0 auto;
    }

    .academy ul li:nth-child(2) {
        width: 80%;
        margin: 0 auto;
    }

    .license {
        width: 100%;
    }

    .progerss-box {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }

    #project {
        padding-bottom: 180px;
    }

    .category__btn {

        padding: 5px 25px;

    }

    .category__btn:last-child {
        margin: 5px;
    }

    .container h1 {
        font-size: 1.5rem;
        margin: 25px;
    }

    .flex_inner {
        flex-direction: column;
    }

    .flex_left {
        width: 100%;
        text-align: center;
    }

    .title_name {
        font-size: 1.5rem;
    }

    .flex_right {
        width: 90%;
        margin: 0 auto;

    }

    .send {
        padding: 5px 10px;

        color: #fff;
        background: #333;
        margin-bottom: 40px;


    }

    .copyright {
        text-align: center;
        background: #333;
        padding: 20px 0;
    }

    .place {
        font-size: 0.8rem;

    }